.Articlegrid {
  align-content: start;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  display: grid;
  width: 100%;
}
.ArticleTitle {
  color: rgb(153, 43, 226);
}
h2 {
  color: deepskyblue;
  text-shadow: 2px 2px rgba(0, 191, 255, 0.274);
}
.Articles {
  border-style: inset;
  background-color: rgb(255, 218, 224);
  border-radius: 12px;
  border-color: rgb(255, 218, 224);
  grid-column-start: 1;
  grid-column-end: 2;
  overflow-y: scroll;
  max-height: 75vh;
  width: 90%;
  margin: 20px;
}

.Article {
  border-style: inset;
  background-color: rgb(255, 218, 224);
  border-radius: 12px;
  border-color: rgb(255, 218, 224);
  grid-column-start: 1;
  grid-column-end: 2;
  /* overflow-y: scroll; */
  width: 90%;
  /* height: 100vh; */
  margin: 2em;
}
.ArticleBody {
  margin: 1em;
  text-decoration-line: none;
}
.CommentTitile {
  color: rgb(153, 43, 226);
}

.Comments {
  border-style: inset;
  grid-column-start: 2;
  grid-column-end: 2;
  background-color: rgb(255, 218, 224);
  margin: 2em;
  border-radius: 15px;
  max-height: 100vh;
}
.Likes {
  color: deepskyblue;
}
.Scroll {
  background-color: rgb(255, 218, 224);
  border: #fd6cea;
  border-radius: 12px;
  float: left;
  overflow-y: scroll;
  margin: 2px;
  max-height: 50vh;
}

.AddComment {
  grid-column-start: 2;
  grid-column-end: 2;
}
.CommentBox {
  background-color: rgb(255, 253, 122);
  color: fuchsia;
}
.ComNum {
  color: coral;
}
select {
  background-color: rgb(255, 253, 122);
  border-radius: 12px;
  color: fuchsia;
  font-size: medium;
  border-style: outset;
}
textarea {
  background-color: rgb(255, 218, 224);
  border-radius: 12px;
  font-size: small;
  color: rgb(250, 98, 230);
  border-style: inset;
  border-color: rgb(255, 218, 224);
  border-width: 0.15em;
}

.add {
  background-color: rgb(255, 253, 122);
  border-style: outset;
  color: fuchsia;
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(94, 169, 255);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(252, 170, 255);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fd6cea;
}
.commentAvatar {
  height: 50px;
}

.postUser {
  color: #fd6cea;
}
.singleComment {
  border: 3px dotted rgb(190, 36, 221);
  margin: 5px;
}

@media only screen and (max-width: 500px) {
  .Articlegrid {
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    grid-gap: 5px;
  }
  .Articles {
    align-content: center;
    grid-row-start: 1;
    max-height: 75vh;
    width: 90%;
  }
  .Comments {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    width: 90%;
    max-height: 100%;
  }
  .Article {
    align-content: center;
    grid-row-start: 1;
    max-height: 100%;
    width: 90%;
  }
}
